<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
        <title>{% block title %}Base{% endblock %}</title>
    </head>

    <!-- The main flex box container -->
    <body>

        <!-- Flex item 1 - a Flex container-->
        <nav class="navbar">
            <a class="link" href="/">Bible Type</a>
            <a class="link" href="/about">About</a>
            <a class="link" href="#">Sign-in</a>
            <form class="search-verse" method="post">
                <input id="verse-input" type="text" name="verse-input" placeholder="John 3:16">
            </form>
            <a class="verse-btn link" onclick="getVerse()" href="#">Find Verse</a>
        </nav>

        <!-- Flex item 2 - Flex container-->
        {% block main_content %}

        {% endblock %}

        <!-- Flex item 3 -->
        <div class="footer">
            <span>© Steven Pak 2023</span>
        </div>


    <!-- jQuery CDN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/base.js" defer></script>
    {% block js %}{% endblock %}
    </body>
</html>