/* CSS Variables */
:root {
    --background-color: #625772;
    --text-color: #fefaec;
    --correct-color:#a9eee6;
    --incorrect-color:#f38181;
    --appended-color:#ef4f4f;
}
/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--background-color);
    color: var(--text-color);
}
h1, h2 {
    margin-top:2rem;
    margin-bottom:1rem;
}
/* Main Content */
.flex-container {
    display: flex;
    flex-direction:column;
    width:60%;
    height:100vh;
    margin: 0 auto;
}
/* Navigation Bar */
.navbar {
    display:flex;
    align-items:center;
    height:3rem;
    margin: 2rem 0;
}
a {
    color:var(--text-color);
    text-decoration:none;
    border-bottom:1px solid var(--text-color);
    transition: border-bottom ease-in-out .25s;
}
a:hover {
    border-color:transparent;
}
.search-verse {
    margin: 0 0 0 auto;
}
.search-verse #verse-input {
    font-family: 'Roboto Mono', monospace;
    color: #333;
    padding:.5rem .5rem;
}
.verse-btn {
    margin-left:1.5rem;
}
.link {
    display:inline-block;
    margin-right:1.5rem;
    color: var(--text-color);
    font-size:1.5rem;
}
.logo {
    display:inline-block;
    color: var(--text-color);
    font-size:1.5rem;
}
/* about page */
.about-links {
    color:var(--text-color);
}
/* type area */
.type-area {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    width:80%;
    /* border:solid 2px #81BCC5;*/
    margin-left: auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:1rem;
    color: var(--text-color);
    font-size:2rem;
}
.type-area-fadeOut {
    animation-name:fadeOut;
    animation-duration:2s;
}
.word {
    margin: 5px .5rem;
}
span .curr-letter {
    box-shadow: inset 2px 0 0 0;
    animation-name:text-cursor;
    animation-duration:.6s;
    animation-direction:alternate;
    animation-iteration-count:infinite;
}
span .curr-letter-right {
    box-shadow: inset -2px 0 0 0;
    animation-name:text-cursor-right;
    animation-duration:.6s;
    animation-direction:alternate;
    animation-iteration-count:infinite;
}
span .incorrect-letter {
    display:inline-block;
    text-align:right;
    color: var(--incorrect-color);
}
span .correct-letter {
    display:inline-block;
    text-align:right;
    color: var(--correct-color);
}
span .letter {
    display:inline-block;
    text-align:right;
}
span .extra-letter{
    display:inline-block;
    text-align:right;
    color: var(--appended-color);
}
#click {
    margin-left: auto;
    margin-right:auto;
    margin-bottom:auto;
    color:var(--text-color);
    text-decoration:none;
    border-bottom:1px solid var(--text-color);
    transition: border-bottom ease-in-out .25s;
}
#click:hover {
    border-color:transparent;
}
/* text cursor & animations */

@keyframes text-cursor {
    from {
        box-shadow: inset 2px 0 0 0 #a57c80;
    }
    to {
        box-shadow: inset 2px 0 0 0 transparent;
    }
}

@keyframes text-cursor-right {
    from {
        box-shadow: inset -2px 0 0 0 #a57c80;
    }
    to {
        box-shadow: inset -2px 0 0 0 transparent;
    }
}

@keyframes fadeOut {
    from {color:transparent;}
    to {color:var(--text-color);}
}
