@use 'sass:color';

@use '@material/theme/color-palette';

$background: #1e1b16;

@use '@material/theme/index' as theme with (
  $primary: #ffe08e,
  $on-primary: #ebc248,
  $secondary: #d5c5a1,
  $surface: #1e1b16,
  $background: $background,
  $error: #ffb4ab
);

html,
body {
  background-color: $background;
  color: if(theme.contrast-tone($background) == 'dark', #000, #fff);
}

a {
  color: theme.$primary;
}