/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #3B3B43;
    color: #81BCC5;
}
/* Main Content */
.flex-container {
    display: flex;
    flex-direction:column;
    width:60%;
    height:100vh;
    margin: 0 auto;
}
/* Navigation Bar */
.navbar {
    display:flex;
    align-items:center;
    height:3rem;
    margin: 2rem 0;
}
.navbar a {
    text-decoration:none;
    border-bottom:1px solid transparent;
    transition: border-bottom ease-in-out .25s;
}
.navbar a:hover {
    border-color:#81BCC5;
}
.link {
    display:inline-block;
    margin-right:1.5rem;
    color: #81BCC5;
    font-size:1.5rem;
}
.logo {
    display:inline-block;
    color: #81BCC5;
    font-size:1.5rem;
    margin-right:auto;
}
/* type area */
.type-area {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    width:80%;
    /* border:solid 2px #81BCC5;*/
    margin: auto auto;
    color: #81BCC5;
    font-size:2.5rem;
}
.word {
    margin: 5px .5rem;
}
span .curr-letter {
    border-bottom: 3px solid;
    animation-name:blink_bottom;
    animation-duration:.6s;
    animation-direction:alternate;
    animation-iteration-count:infinite;
}
span .incorrect-letter {
    color: #df153e;
}
span .correct-letter {
    color: #DFC659;
}
span .letter {

}
/* text cursor & animations */
/* @keyframes blink_cursor {
    from {opacity: 1;}
    to {opacity: 0;}
}

#cursor {
    display:inline-block;
    height:1.5rem;
    width: 2px;
    background-color: #a57c80;
    animation-name:blink_cursor;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
} */
@keyframes blink_bottom {
    from {
        border-bottom-color:#a57c80;
    }
    to {
        border-bottom-color:transparent;
    }
}
